<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <title>Terms and Conditions</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'about.css' %}">
  </head>
  <body style="background-color: #333333;">

    <div class="terms_header">
        <a href="/estudent/homepage" class="go_back_button">
            <span class="pages"><b>Back to Homepage</b></span>
        </a>
        <h1><b>About Us</b></h1>
    </div>

    <div class="terms_body">
        <h3><u><b>About ESTUDENT</b></u></h3>
        <p>ESTUDENT is a budgeting web app based around helping university students manage what limited money they have in order to afford the things they need and have fun during their university experience.</p>
        <p>The app uses forecasting to predict trends in money spending of a user to show them whether they are improving their budgeting or not. Weekly or monthly information can be accessed including details on what categories most money has gone to. The user is able to include however much information they want in order for the algorithm to be able to predict spending/saving rates when the user updates their information.</p>
        <h3>The 50/30/20 Method</h3>
        <p>A big inspiration for making ESTUDENT come to life was the 50/30/20 budgeting method. Method is based around the idea of splitting money into 3 categories: needs, wants and savings. Half of the funds are used for needs which are payments that need to be made, 30% on things that one might want like new clothes or socialising with friends and remainings should be taken as savings or added onto needs if needed. The 50/30/20 rule was made by Elizabeth Warren (senator of United States) and included in her book "All Your Worth: The Ultimate Lifetime Money Plan".</p>
        <h3>How are we different?</h3>
        <p>When researching budgeting apps, I have came across many outdated designs and none of them were younger audience friendly and I wanted to change that. I wanted to create something more modern which will want the users coming back to take care of their own savings in a more independent way. I felt like having them include their money information themselves instead of including the ability to connect a bank card made the task more independent.</p>
    </div>






    <script src="{% static 'landing.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>